﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.numbers-group {
    /* background: gray; */
}

.irish {
    background-color: #d1dd03;
    background-image: -webkit-linear-gradient(-315deg,#d1dd03 0,#d1dd03 50%,#c5d007 51%,#c5d007 100%);
    background-image: linear-gradient(45deg,#d1dd03 0,#d1dd03 50%,#c5d007 51%,#c5d007 100%);
    border: 2px solid #d1dd03!important;
}

.national {
    background-color: #ed1c24;
    background-image: -webkit-linear-gradient(-315deg,#ed1c24 0,#ed1c24 50%,#d52b1e 51%,#d52b1e 100%);
    background-image: linear-gradient(45deg,#ed1c24 0,#ed1c24 50%,#d52b1e 51%,#d52b1e 100%);
    border: 2px solid #ed1c24!important;
}

.euro {
    background-color: #ffb612;
    background-image: -webkit-linear-gradient(-315deg,#ffb612 0,#ffb612 50%,#e7a409 51%,#e7a409 100%);
    background-image: linear-gradient(45deg,#ffb612 0,#ffb612 50%,#e7a409 51%,#e7a409 100%);
    border: 2px solid #ffb612!important;
}

.ball {
    border-radius: 50%;
    color: #fff;
    width: 33px;
    height: 33px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    line-height: 30px;
}

.bonus-irish {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #d1dd03;
    margin-left: 5px;
}

.bonus-euro {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ffb612;
    margin-left: 5px;
}

.bonus-national {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ed1c24;
    margin-left: 5px;
}

.pick-number {
    position: relative;
    display: inline-block;
    margin: 2px;
}