@model EuroLineViewModel

<div class="numbers-group">
    <div class="pick-number">
        <div class="ball euro">@Model.BallOne</div> 
    </div>
    <div class="pick-number">
        <div class="ball euro">@Model.BallTwo</div>
    </div>
    <div class="pick-number">
        <div class="ball euro">@Model.BallThree</div>
    </div>
    <div class="pick-number">
        <div class="ball euro">@Model.BallFour</div>
    </div>
    <div class="pick-number">
        <div class="ball euro">@Model.BallFive</div>
    </div>
    <div class="pick-number">
        <div class="ball euro bonus-euro">@Model.LuckyStarOne</div>
    </div>
    <div class="pick-number">
        <div class="ball euro bonus-euro">@Model.LuckyStarTwo</div>
    </div>
</div>