@model IrishLineViewModel

<div class="numbers-group">
    <div class="pick-number">
        <div class="ball irish">@Model.BallOne</div> 
    </div>
    <div class="pick-number">
        <div class="ball irish">@Model.BallTwo</div>
    </div>
    <div class="pick-number">
        <div class="ball irish">@Model.BallThree</div>
    </div>
    <div class="pick-number">
        <div class="ball irish">@Model.BallFour</div>
    </div>
    <div class="pick-number">
        <div class="ball irish">@Model.BallFive</div>
    </div>
    <div class="pick-number">
        <div class="ball irish">@Model.BallSix</div>
    </div>
    <div class="pick-number">
        <div class="ball irish bonus-irish">@Model.BonusBall</div>
    </div>
</div>