@model NationalLineViewModel

<div class="numbers-group">
    <div class="pick-number">
        <div class="ball national">@Model.BallOne</div> 
    </div>
    <div class="pick-number">
        <div class="ball national">@Model.BallTwo</div>
    </div>
    <div class="pick-number">
        <div class="ball national">@Model.BallThree</div>
    </div>
    <div class="pick-number">
        <div class="ball national">@Model.BallFour</div>
    </div>
    <div class="pick-number">
        <div class="ball national">@Model.BallFive</div>
    </div>
    <div class="pick-number">
        <div class="ball national">@Model.BallSix</div>
    </div>
    <div class="pick-number">
        <div class="ball national bonus-national">@Model.BonusBall</div>
    </div>
</div>