﻿@model ResultsViewModel;
@{
    ViewData["Title"] = "Lottery Results";
    var errorMessage = (string)ViewData["ErrorMessage"];
}

@if(!string.IsNullOrWhiteSpace(errorMessage))
{
    <br />
    <div class="alert alert-warning">
        <strong>Warning!</strong> @errorMessage.
    </div>
}

@if(Model.Irish != null)
{
    <h2>Irish Lotto</h2>
    <h3>@String.Format("{0:D}", @Model.Irish.DrawDate)</h3>

    <p>
        <b>Main:</b>
        @Html.Partial("_IrishLine", @Model.Irish.Main)
        <b>Plus 1:</b>
        @Html.Partial("_IrishLine", @Model.Irish.PlusOne)
        <b>Plus 2:</b>
        @Html.Partial("_IrishLine", @Model.Irish.PlusTwo)
    </p>
}

@if(Model.National != null)
{
    <hr>

    <h2>National Lottery</h2>
    <h3>@String.Format("{0:D}", @Model.National.DrawDate)</h3>

    @Html.Partial("_NationalLine", @Model.National.Main)
}

@if(Model.Euro != null)
{
    <hr>

    <h2>EuroMillions</h2>
    <h3>@String.Format("{0:D}", @Model.Euro.DrawDate)</h3>

    @Html.Partial("_EuroLine", @Model.Euro.Main)
}
